header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
}
/*mobile-screen*/

@media (max-width:480px){
    header {
        background-position: 50% 50%;
    }
}

/*extra small screen*/

@media (min-width:481px)and (max-width:767px){
    header {
        background-position: 50% 50%;
    }
}

/*small tablets md-screen*/

@media (min-width:768px)and (max-width:991px){
    header {
        background-position: 50% 50%;
    }
}
